<section class="relative w-full h-[300px] md:h-[300px] bg-cover bg-center" style="background-image: url('/home_bg.avif');">
    <div class="absolute inset-0 bg-black/75 bg-opacity-40"></div>
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white px-4">
        <h1 class="text-4xl md:text-5xl font-bold">
            Galería
        </h1>
        <p class="mt-2 text-lg">
            <span class="text-yellow-600">
                Inicio
            </span> / 
            <span class="text-white font-semibold">
                Galería
            </span>
        </p>
        <p class="mt-2 text-gray-300 text-lg max-w-xl">
            Descubre con nosotros momentos de turismo y aventura.
        </p>
    </div>
</section>