<footer class="bg-gray-900 text-white py-6">
    <div class="container mx-auto flex flex-col items-center text-center">
        <h3 class="text-xl font-semibold mb-4">
            Síguenos
        </h3>
        <div class="flex space-x-6">
            <a href="https://www.facebook.com/profile.php?id=61565654442567" class="text-gray-400 hover:text-white transition duration-300" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/chaskavallegreenurubamba/" class="text-gray-400 hover:text-white transition duration-300" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.tiktok.com/@chaskavallegreen" class="text-gray-400 hover:text-white transition duration-300" target="_blank">
                <i class="fab fa-tiktok fa-2x"></i>
            </a>
            <a href="https://wa.link/sp0l65" class="text-gray-400 hover:text-white transition duration-300" target="_blank">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
        </div>
        <div class="mt-4 text-gray-500 text-sm w-full text-center">
            &copy; 2025 Hotel Chaska Valle Green. Todos los derechos reservados.
        </div>
    </div>
</footer>