---
const images = [
    "/galeria/gallery_img1.avif",
    "/galeria/gallery_img2.avif",
    "/galeria/gallery_img3.avif",
    "/galeria/gallery_img4.avif",
    "/galeria/gallery_img5.avif",
    "/galeria/gallery_img6.avif",
    "/galeria/gallery_img7.avif",
    "/galeria/gallery_img8.avif",
    "/galeria/gallery_img10.avif",
    "/galeria/gallery_img11.avif",
    "/galeria/gallery_img12.avif",
    "/galeria/gallery_img13.avif",
    "/galeria/gallery_img14.avif",
    "/galeria/gallery_img15.avif",
    "/galeria/gallery_img16.avif",
    "/galeria/gallery_img17.avif",
    "/galeria/gallery_img18.avif",
    "/galeria/gallery_img19.avif",
    "/galeria/gallery_img20.avif",
    "/galeria/gallery_img21.avif",
    "/galeria/gallery_img22.avif",
    "/galeria/gallery_img23.avif",
    "/galeria/gallery_img24.avif",
    "/galeria/gallery_img25.avif",
    "/galeria/gallery_img26.avif",
    "/galeria/gallery_img27.avif",
    "/galeria/gallery_img28.avif",
    "/galeria/gallery_img29.avif",
    "/galeria/gallery_img30.avif",
    "/galeria/gallery_img31.avif",
    "/galeria/gallery_img32.avif",
    "/galeria/gallery_img33.avif",
    "/galeria/gallery_img34.avif",
    "/galeria/gallery_img35.avif",
    "/galeria/gallery_img36.avif",
    "/galeria/gallery_img37.avif"
];
---
<section class="max-w-7xl mx-auto px-4 py-24">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pswp-gallery" id="my-gallery">
        {images.map((image, index) => (
            <a href={image} rel="noreferrer" aria-label="Imagen de Hotel Chaska Valle Green" data-pswp-uid={index + 1} class="block rounded-md overflow-hidden"
               class="shadow-sm" data-pswp-width="831"
               data-pswp-height="552">
                <div class="relative group cursor-pointer">
                    <img loading={index > 5 ? 'lazy' : 'eager'} src={image} alt="Hotel Chaska Valle Green" 
                         class="object-cover object-top w-full h-full rounded-md" />
                    <p class="flex text-white backdrop-blur-sm bg-black/20 text-2xl absolute font-bold w-full gap-2 items-center top-0 h-full justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                        </svg>
                        Hotel Chaska Valle Green
                    </p>
                </div>
            </a>
        ))}
    </div>
</section>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    const lightbox = new PhotoSwipeLightbox({ gallery:   '#my-gallery', children: 'a', pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>