<div class="relative h-screen bg-cover bg-center" style="background-image: url('../home_bg.png');">
    <div class="absolute inset-0 bg-black/75 bg-opacity-40"></div>
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center">
        <h2 class="text-5xl font-bold">
            Sagitario Hotel
        </h2>
        <p class="text-lg tracking-wide">
            Vive Momentos de Turismo y Aventura
        </p>
        <div class="w-20 h-1 bg-[#deaa86] mt-4"></div>
    </div>
</div>