<div class="bg-white text-gray-700 text-sm py-2 border-b border-gray-200">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4 py-2 space-y-2 md:space-y-0">
        <div class="flex flex-col md:flex-row items-center space-y-1 md:space-y-0 md:space-x-4 text-center md:text-left">
            <p class="flex items-center space-x-1">
                <i class="fa-solid fa-location-dot text-[#deaa86]"></i>
                <span>
                    Calle Libertad 676, Moquegua, Perú
                </span>
            </p>
            <span class="hidden md:block text-gray-400">|</span>
            <p class="flex items-center space-x-1">
                <i class="fa-solid fa-phone text-[#deaa86]"></i>
                <span>
                    971 111 998
                </span>
            </p>
        </div>
        <div class="flex space-x-4">
            <a href="https://www.facebook.com/hotelessagitario" target="_blank" class="text-gray-700 hover:text-[#deaa86] transition">
                <i class="fa-brands fa-facebook-f text-lg"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="text-gray-700 hover:text-[#deaa86] transition">
                <i class="fa-brands fa-instagram text-lg"></i>
            </a>
            <a href="https://www.tiktok.com/" target="_blank" class="text-gray-700 hover:text-[#deaa86] transition">
                <i class="fa-brands fa-tiktok text-lg"></i>
            </a>
        </div>
    </div>
</div>