<div class="bg-white text-gray-600 text-xs md:text-[13px] border-b border-gray-100">
    <div class="container mx-auto flex flex-col md:flex-row justify-center items-center px-4 py-3 md:py-2 space-y-3 md:space-y-0 md:space-x-16 uppercase tracking-tight font-medium">
        <div class="flex flex-col md:flex-row items-center space-y-1.5 md:space-y-0 md:space-x-8 text-center md:text-left">
            <p class="flex items-center space-x-1.5 group cursor-default">
                <i class="fa-solid fa-location-dot text-yellow-800/80"></i>
                <span class="hover:text-gray-900 transition-colors">
                    Jirón Zavala 310, Urubamba, Cusco.
                </span>
            </p>
            <span class="hidden md:block text-gray-300">|</span>
            <p class="flex items-center space-x-1.5 group cursor-default">
                <i class="fa-solid fa-phone text-yellow-800/80"></i>
                <span class="hover:text-gray-900 transition-colors">
                    957 708 697 - (084) 207293
                </span>
            </p>
        </div>
        <div class="flex space-x-5">
            <a href="https://www.facebook.com/profile.php?id=61565654442567" target="_blank" aria-label="Ir a Facebook" class="text-gray-500 hover:text-yellow-800 transition-all duration-300">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/chaskavallegreenurubamba/" target="_blank" aria-label="Ir a Instagram" class="text-gray-500 hover:text-yellow-800 transition-all duration-300">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@chaskavallegreen" target="_blank" aria-label="Ir a Tiktok" class="text-gray-500 hover:text-yellow-800 transition-all duration-300">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>
    </div>
</div>