<nav class="relative w-full text-gray-700 bg-transparent z-30">
    <div class="container mx-auto flex items-center justify-between md:justify-between py-4 px-4">
        <a href="/" class="flex-grow text-left md:hidden no-underline focus:outline-none">
            <img src="/logo.png" alt="Chaska Valle Green" class="h-16 w-auto max-h-20" />
        </a>
        <button id="menu-button" class="md:hidden text-yellow-600 focus:outline-none">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <ul id="nav-links" class="hidden md:flex space-x-6">
            <li>
                <a href="/" class="hover:text-yellow-600">INICIO</a>
            </li>
            <li>
                <a href="/abouts" class="hover:text-yellow-600">NOSOTROS</a>
            </li>
            <li>
                <a href="/rooms" class="hover:text-yellow-600">HABITACIONES</a>
            </li>
        </ul>
        <div class="text-center flex-grow hidden md:block">
            <img src="/logo.png" alt="Chaska Valle Green" class="mx-auto h-20 w-auto max-h-20" />
        </div>
        <ul class="hidden md:flex space-x-6">
            <li>
                <a href="/gallery" class="hover:text-yellow-600">GALERÍA</a>
            </li>
            <li>
                <a href="/reservation" class="hover:text-yellow-600">RESERVAS</a>
            </li>
            <li>
                <a href="/contacts" class="hover:text-yellow-600">CONTÁCTENOS</a>
            </li>
        </ul>
    </div>
    <div id="mobile-menu" class="hidden absolute top-full left-0 w-full bg-white text-gray-700">
        <ul class="flex flex-col items-center space-y-4 py-4">
            <li>
                <a href="/" class="hover:text-yellow-600">INICIO</a>
            </li>
            <li>
                <a href="/abouts" class="hover:text-yellow-600">NOSOTROS</a>
            </li>
            <li>
                <a href="/rooms" class="hover:text-yellow-600">HABITACIONES</a>
            </li>
            <li>
                <a href="/gallery" class="hover:text-yellow-600">GALERÍA</a>
            </li>
            <li>
                <a href="/reservation" class="hover:text-yellow-600">RESERVAS</a>
            </li>
            <li>
                <a href="/contacts" class="hover:text-yellow-600">CONTÁCTENOS</a>
            </li>
        </ul>
    </div>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll("nav a");
        const menuButton = document.getElementById("menu-button") as HTMLElement;
        const mobileMenu = document.getElementById("mobile-menu") as HTMLElement;

        links.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("text-yellow-600", "font-bold");
            }
        });

        menuButton.addEventListener("click", () => {
            mobileMenu.classList.toggle("hidden");
        });
    });
</script>